@model MVCDb.Models.Dept

<h1>Adding Department</h1>
<hr />
<br />

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Id)
        @Html.EditorFor(m => m.Id)
        @Html.ValidationMessageFor(m => m.Id, "", new { @style = "color:red;" })
    </div>
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red;" })
    </div>
    <div>
        @Html.LabelFor(m => m.Location)
        @Html.EditorFor(m => m.Location)
        @Html.ValidationMessageFor(m => m.Location, "", new { @style = "color:red;" })
    </div>
    <br />
    <br />
    <br />
    <input type="submit" value="Save" />
}
<br />
@Html.ActionLink("Back to List", "List")

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>